.row,
.row-date,
.row-footer,
.row-notes-delete {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-photo,
.column-info,
.column-date,
.favorite-column-photo,
.favorite-column-info {
  flex-basis: 100%;
}

.footer-search,
.footer-favorites,
.footer-notes-holder {
  flex-basis: auto;
}

img {
  width: 100%;
}

.column-auto {
  flex-basis: auto;
}

@media screen and (min-width: 1152px) {
  main {
    width: 1152px;
    margin: auto;
  }

  .favorite-column-photo {
    flex-basis: 45%;
  }

  .favorite-column-info,
  .new-favorite .column-date {
    flex-basis: 49%;
  }
}
