body {
  background-color: #021f4b;
  font-family: "Space Mono", sans-serif;
  color: rgb(242, 242, 242);
  margin: auto 14px;
  font-size: 9.5px;
}

h1 {
  text-align: center;
  font-family: Archivo, sans-serif;
  font-weight: 900;
  font-size: 25px;
  margin: 17px 20px;
}

.date {
  text-align: center;
  margin-bottom: 3px;
}

img {
  height: 100%;
  object-fit: cover;
}

.row-footer {
  justify-content: flex-start;
  text-align: center;
  margin: 20px auto;
  font-weight: 700;
}

.title {
  font-family: Archivo, sans-serif;
  font-size: 22.5px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 15px 20px;
}

.credit {
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.explanation {
  margin-top: 15px;
}

.form-date {
  position: absolute;
  width: 240px;
  height: 200px;
  background-color: rgba(2, 31, 75, 0.85);
  border: solid 0.5px grey;
  border-radius: 2px;
  bottom: calc(30vh - 100px);
  left: calc(50% - 120px);
}

form {
  margin: auto;
  text-align: center;
  padding-top: 40px;
  font-size: 14px;
}

input {
  font-family: "Space Mono", sans-serif;
  text-align: center;
  margin: 12px 0;
}

#date {
  background-color: transparent;
  border: solid 0.5px grey;
  color: lightgrey;
  height: 35px;
}

.submit {
  text-align: left;
  margin-top: 5px;
  background-color: #115268;
  border: solid 0.5px grey;
  color: white;
  font-size: 10px;
  padding: 5px;
}

.submit:hover {
  background-color: #4c3b71;
  cursor: pointer;
}

.hidden {
  display: none;
}

.search:hover,
.favorites:hover {
  cursor: pointer;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .row {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .row-date {
    justify-content: flex-end;
  }

  body {
    margin: auto 59px;
    font-size: 11px;
    font-weight: 400;
  }

  h1 {
    font-size: 41px;
    margin-top: 33px;
  }

  img {
    height: 100%;
    margin-bottom: 30px;
  }

  .date {
    margin-bottom: 10px;
  }

  .title {
    margin: 0;
    text-align: left;
    padding: 0 0 15px;
  }

  .credit {
    margin: 0;
    text-align: left;
  }

  .explanation {
    margin-top: 15px;
  }

  .row-footer {
    margin: 5px 0;
  }

  .form-date {
    bottom: calc(50vh - 100px);
  }
}
