body {
  background-color: #021f4b;
  font-family: "Space Mono", sans-serif;
  color: rgb(242, 242, 242);
  margin: auto 14px;
  font-size: 12px;
}

h1 {
  text-align: center;
  font-family: Archivo, sans-serif;
  font-weight: 900;
  font-size: 26px;
  margin: 17px 20px;
}

.date {
  text-align: center;
  margin-bottom: 3px;
}

img {
  height: 100%;
  object-fit: contain;
  object-position: top;
}

.favorite-image {
  width: 100%;
  height: 181px;
  object-fit: cover;
  object-position: center;
}

.row-footer {
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  margin: 20px auto;
  font-weight: 700;
}

i {
  font-size: 25px;
}

.title,
.favorite-title {
  font-family: Archivo, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 15px 20px;
}

.favorite-title {
  padding: 10px 5px;
}

.credit {
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.explanation {
  margin-top: 15px;
}

.form-date {
  position: absolute;
  width: 240px;
  height: 200px;
  background-color: rgba(2, 31, 75, 0.85);
  border: solid 0.5px grey;
  border-radius: 2px;
  bottom: calc(30vh - 100px);
  left: calc(50% - 120px);
}

form {
  margin: auto;
  text-align: center;
  padding-top: 40px;
  font-size: 14px;
}

input {
  font-family: "Space Mono", sans-serif;
  text-align: center;
  margin: 12px 0;
}

#date {
  background-color: transparent;
  border: solid 0.5px grey;
  color: lightgrey;
  height: 35px;
}

.submit {
  text-align: left;
  margin-top: 5px;
  background-color: transparent;
  border: solid 0.5px grey;
  color: white;
  font-size: 11px;
  padding: 5px 8px;
}

.submit:hover {
  background-color: #115268;
  cursor: pointer;
}

.modal-favorites {
  width: 268px;
  height: 105px;
  position: absolute;
  left: calc(50% - 134px);
  bottom: calc(15vh - 50px);
  background-color: #4c3b71;
  border: solid 0.5px grey;
  border-radius: 2px;
}

.modal-favorites > h5 {
  text-align: center;
  font-size: 15px;
  margin: 10px auto 0;
}

.modal-favorites > .row {
  justify-content: space-evenly;
  margin: 0 10px 30px;
}

.view-list,
.add-note {
  flex-basis: 30%;
  text-align: center;
}

.hidden {
  display: none;
}

.fa-xmark {
  font-size: 10px;
  padding-left: calc(100% - 15px);
}

.search:hover,
.favorites:hover,
.view-list:hover,
.add-note:hover {
  cursor: pointer;
  text-decoration: underline;
}

.fa-star:hover,
.fa-xmark:hover,
h1:hover {
  cursor: pointer;
}

h2 {
  font-family: Archivo, sans-serif;
  font-size: 18px;
  padding-bottom: 0;
  margin-top: 30px;
  text-align: left;
  width: 100%;
  border-bottom: 0.5px solid white;
  line-height: 0.1em;
}

h2 span {
  background: #021f4b;
  padding-right: 15px;
}

.favorite-explanation {
  overflow: hidden;
  max-height: 36px;
  line-height: 18px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: block;
  margin: 0;
}

.row-notes-delete {
  justify-content: space-between;
  text-decoration: underline;
  font-weight: 900;
}

@media screen and (max-width: 970px) {
  .cloud {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 35px;
  }

  body {
    font-size: 16px;
    margin: auto 30px;
  }

  .title {
    font-size: 32px;
    padding: 20px;
  }

  i {
    font-size: 40px;
  }
}

@media screen and (min-width: 970px) {
  .cloud-container {
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: -10;
  }

  .cloud {
    width: 100%;
    height: 100%;
  }

  .row {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .row-date {
    justify-content: flex-end;
  }

  body {
    margin: auto 59px;
    font-size: 12px;
    font-weight: 400;
  }

  h1 {
    font-size: 41px;
    margin-top: 33px;
  }

  img {
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
  }

  .date {
    margin-bottom: 10px;
  }

  .title {
    margin: 0;
    text-align: left;
    padding: 0 0 15px;
  }

  .credit {
    margin: 0;
    text-align: left;
  }

  .explanation {
    margin-top: 15px;
  }

  .row-footer {
    margin: 20px 0;
    text-align: left;
  }

  .form-date {
    bottom: calc(50vh - 100px);
  }

  i {
    font-size: 30px;
  }

  .modal-favorites {
    width: 330px;
    height: 130px;
    position: absolute;
    left: calc(50% - 165px);
    top: calc(50vh - 65px);
    background-color: #4c3b71;
    border: solid 0.5px grey;
    border-radius: 2px;
  }

  .modal-favorites > h5 {
    font-size: 20px;
    margin: 15px auto 0;
  }

  .modal-favorites > .row {
    margin: 0 20px 30px;
  }
}
